/* Put your custom CSS here */

iframe {
   width: 370px;
}

iframe.map { 
  height: 200px;
  border: none;
  frameborder: 0;
  scrolling: "no";
  marginheight: 0;
  marginwidth: 0; 
}


.menu{
  position: fixed;
  top: 0; 
  left: 0;
  width:100%;
}

.article_map{
  position: fixed;
  top: 60px;
  left: 15px;
}

.article_main{
  position: absolute;
  top: 280px; 
  height: 350px;
  width: 380px;
  text-align: center;
  overflow: scroll;
}

.stock_img{
   width: 320px;
   height: 180px;
   padding: 5px 5px 5px 0;
   text-align: center; 
}

.stock{
   width: 350px;
   padding_top: 500px;
   
}

.stock_txt{
   width: 320px;

}
