

#header{
  position: relative;
  background-color: #ffffff;
  border: none;
  height: 60px;
}

#header img{
  width: 100%;
}

#header h3{
  position: absolute;
  color: #0066ff;
  top: 9px;
  text-shadow: none;
  left: 12px;
  font-size: 18px;
}

#header a{
 width: 75px;
  left: -1px;
  background: none;
  border: none;
}

#user_pic{
  float: left;
  padding-left:5px;
  padding-top:2px;
}

#user-info{
  padding-top:2px;
  padding-bottom:2px;
  border: 1px dashed #FF8800;
  height:170px;
}

#user_pic img{
  width: 80px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;}

#user_txt{
  float: right;
  width: 58%;
  padding-right:5px;
   
}

#batch{
  position: relative;
  top: 10px;
  padding-left:5px;
  padding-right: 5px;
  padding-top:2px;
  padding-bottom: 10px;
}

#map_canvas{
  padding-top: 5px;
  padding-bottom:0px;
  margin-top:10px;
}

div.carousel{
  padding-top:5px;
  padding-bottom: 5px;
  border: 1px dashed #FF8800;
  width:100%;
  top:0px;
}

#map_canvas{
 padding-top:8px;
 border: 1px dashed #FF8800;
}
