#header{
  background-color: #ffffff;
  border: none;
  height: 60px;
}

#header a{
  width: 75px;
  left: -1px;
  background: none;
  border: none;
}

#header img{
  width: 100%;
}

#header h3{
  position: absolute;
  color: #0088ff;
  top: 6px;
  text-shadow: none;
  left: 45px;
  font-size: 15px;
}

#header a{
  position: absolute;
}


#user_pic{
  float: left;
  padding-left:5px;
  padding-top:2px;
}

#user-info{
  padding-top:2px;
  padding-bottom:2px;
  border: 1px dashed #FF8800;
  height:170px;
}

#user_pic img{
  width: 80px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;}

#user_txt{
  float: right;
  width: 58%;
  padding-right:5px;
   
}

#batch{
  position: relative;
  top: 10px;
  padding-left:5px;
  padding-right: 5px;
  padding-top:2px;
  padding-bottom: 10px;
}

#map_canvas{
  padding-top: 5px;
  padding-bottom:0px;
  margin-top:10px;
}

div.carousel{
  padding-top:5px;
  padding-bottom: 5px;
  border: 1px dashed #FF8800;
  width:100%;
  top:0px;
}

#map_canvas{
 padding-top:8px;
 border: 1px dashed #FF8800;
}

.navimg {
  height:30px;
}

#map_canvas {
    height: 170px;
}

#map_article_line {
    position: relative;
    top: -10px;
    width: 100%;
}

.carousel {
    position: relative;
    top: -17px;
    margin: 7px 0 0 0;
    width: 320px;
    height: 230px;
    overflow: hidden;
}

.carousel ul {
    list-style: none;
    padding: 0;
    margin:  0;
}

.carousel ul li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    backgroundColor: transparent
}
.carousel ul li img {
    height: 230px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}
.carousel ul li .title {
    margin: 0 2px;
    padding: 3px 0 0 10px;
    text-align: left;
    color: #ffffff;
    text-shadow: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    z-index: 1000;
    background: rgb(0, 0, 0); /* fallback color */
    background: -webkit-gradient(linear,left bottom, left top,
      from(rgba(0,0,0,0.0)),
      to(rgba(0,0,0,0.3)));
}
