

#header{
  positoin: relative;
  background-color: #ffffff;
  border: none;
  height: 60px;
}

#header img{
  width: 100%;
}

#header h3{
  position: absolute;
  color: #0066ff;
  top: 9px;
  text-shadow: none;
  left: 12px;
  font-size: 18px;
}

#header a{
  position: absolute;
}

#user_pic{
  float: left;
}

#user_pic img{
  width: 80px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;}

#user_txt{
  float: right;
  width: 60%;
   
}

#batch{
  position: relative;
  top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 20px 0;
}

#map-canvas{
  padding-top: 5px;
}