#page1{
   min-height: 600px;
}

#comment_textarea {
  height: 150px;
}
.tool_div {
  text-align: left;
}
.stock_button_div{
  text-align: right;
}
.camera_button_div {
  margin: 70px 20px 70px 20px;
}


.memo-stock img{
    width:  80px;
    height: 80px;
}
.memo-stock {
    list-style: none;
    padding: 0;
    margin:  0;
}
.memo-stock li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    backgroundColor: transparent
}
