#page1{
   min-height: 600px;
}

#header{
  background-color: #ffffff;
  border: none;
  height: 60px;
}

#header a{
  width: 75px;
  left: -1px;
  background: none;
  border: none;
}

#header img{
  width: 100%;
}

#header h3{
  position: absolute;
  color: #0088ff;
  top: 6px;
  text-shadow: none;
  left: 45px;
  font-size: 15px;
}

#header a{
  position: absolute;
}
#comment_textarea {
  height: 130px;
}
.tool_div {
  text-align: left;
}
.stock_button_div{
  text-align: right;
}
.camera_button_div {
  margin: 40px 20px 40px 20px;
}


.memo-stock img{
    width:  50px;
    height: 50px;
}
.memo-stock {
    list-style: none;
    padding: 0;
    margin:  2px 5px 0 5px;
}
.memo-stock li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    backgroundColor: transparent
}
#stock_form{
  top:80px;
}

#picture-button{
  width: 60px;
  padding-left: 0px;
  left:200px;
}
div.ui-content{
 top: -4px;
}
.navimg {
  height:30px;
}

