#page1{
   min-height: 600px;
}

#header{
  background-color: #ffffff;
  border: none;
  height: 60px;
}

#header img{
  width: 100%;
  background-color: #ffffff;
}

#comment_textarea {
  height: 130px;
}
.tool_div {
  text-align: left;
}
.stock_button_div{
  text-align: right;
}
.camera_button_div {
  margin: 40px 20px 40px 20px;
}


.memo-stock img{
    width:  50px;
    height: 50px;
}
.memo-stock {
    list-style: none;
    padding: 0;
    margin:  2px 5px 0 5px;
}
.memo-stock li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    backgroundColor: transparent
}
