#page1{

}

#header {
    background: #ffffff;
    border: none;
    margin: 0;
}

#logo {
    width: 100%;
}

#map_canvas {
    height: 170px;
}

#map_article_line {
    position: relative;
    top: -10px;
    width: 100%;
}

.carousel {
    position: relative;
    top: -17px;
    margin: 7px 0 0 0;
    width: 320px;
    height: 230px;
    overflow: hidden;
}

.carousel ul {
    list-style: none;
    padding: 0;
    margin:  0;
}

.carousel ul li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    backgroundColor: transparent
}
.carousel ul li img {
    height: 230px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}
.carousel ul li .title {
    margin: 0 2px;
    padding: 3px 0 0 10px;
    text-align: left;
    color: #ffffff;
    text-shadow: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    z-index: 1000;
    background: rgb(0, 0, 0); /* fallback color */
    background: -webkit-gradient(linear,left bottom, left top,
      from(rgba(0,0,0,0.0)),
      to(rgba(0,0,0,0.3)));
}


#footer{
   width: 20%;
}
#navbar{
   width: 20%;
}

.navimg {
  height:30px;
}

.ui-navbar li .ui-btn .ui-btn-inner{
   padding-bottom: 3px;
}

.ui-navbar li .ui-btn-icon-top .ui-btn-inner{
   padding-top: 4px;
}

.ui-btn-active{
  background: #FFeedd;
  border: none;
  text-shadow: none;
}

.ui-btn-active:visited, .ui-btn-active:hover, .ui-btn-active a.ui-link-inherit{
  color: #FF8800;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner {
  padding: 0;
}

.favtext{
  font-size: 11px;
  height: 21px;
}

#popupMenu{
   width:150px;
   height: 200px;
   bottom: 50px;
}

#popup1{
  padding: 0 0 0 0;
}
#popup2{
  padding: 0 0 0 0;

}
