#page1{

}

#header {
    background: #ffffff;
    border: none;
    margin: 0;
}

#logo {
    width: 100%;
}

#map_canvas {
    height: 200px;
}

#map_article_line {
    position: relative;
    top: -8px;
    width: 100%;
}

.carousel {
    width: 320px;
    height: 210px;
    overflow: hidden;
}

.carousel ul {
    list-style: none;
    padding: 0;
    margin:  0;
}

.carousel ul li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    backgroundColor: transparent
}
.carousel ul li img {
    height: 150px;
}
.carousel ul li .title {
    margin: 0 15px;
    padding: 3px 0 0 10px;
    text-align: left;
    color: #ffffff;
    text-shadow: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    z-index: 1000;
    background: rgb(0, 0, 0); /* fallback color */
    background: -webkit-gradient(linear,left bottom, left top,
      from(rgba(0,0,0,0.0)),
      to(rgba(0,0,0,0.3)));
}

footer.ui_bar{
    height: 20px;    
}

#search {
    background: url('img/map-marker.png') 50% 50% no-repeat;
    background-size: 16px 26px;
}
