#map_canvas {
    height: 250px;
}

#flickable {
    border: 1px solid #CCC;
    width: 480px;
    height: 155px;
    overflow: auto;
}
#flickable ul {
    list-style: none;
    width:854px;
    margin: 0;
    padding: 5px;
}
#flickable ul li {
    background-color: #EEE;
    border: 1px solid #CCC;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    float: left;
}
#flickable .ui-flickable-container {
    cursor: pointer;
}
